@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "jsMath-cmbx10";
  src: url(/fonts/jsMath-cmbx10.ttf);
}